<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="main404">
        <div class="h1404">
          <h1>404</h1>
        </div>
        <div class="h2404">
          <h2>Page does not exist</h2>
        </div>
      </div>
    </div>
  </body>
</html>
