<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width,
initial-scale=1.0">
    <title>Week 9 - EJS</title>
</head>

<body> <nav>
    <a href="/">Home</a> |
    <a href="/contact">Contact me</a>
</nav>
</body>
</html>
<h3>Ooops, content not found...</h3>
<footer>
<hr>
Copyright &copy; MMXCLV
</footer>