<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    <link rel="stylesheet" href="CSS/style.css">
    <script src="script.js" defer></script> <!-- Ensure this is the correct path -->
</head>
<body>
    <div class="container">
        <button type="menu" class="btn1 goBack"><a href="/">Go Back</a></button>
        <div class="signUpBox">
            <h1>Patient Details</h1>
            <div class="group">
                <form id="detailsForm">
                    <label for="firstName">Enter First Name:</label>
                    <input class="signInputs" type="text" placeholder="First Name" id="firstName" name="firstName">

                    <label for="lastName">Enter Last Name:</label>
                    <input class="signInputs" type="text" placeholder="Enter Last Name" id="lastName" name="lastName">

                    <label for="dateOfBirth">Enter Date of Birth:</label>
                    <input class="signInputs" type="text" placeholder="D.O.B" id="dateOfBirth" name="dateOfBirth">

                    <label for="phoneNumber">Phone Number:</label>
                    <input class="signInputs" type="text" placeholder="Phone Number" id="phoneNumber" name="phoneNumber">

                    <label for="bloodGroup">Blood Group:</label>
                    <input class="signInputs" type="text" placeholder="Blood Group" id="bloodGroup" name="bloodGroup">

                    <label for="height">Height:</label>
                    <input class="signInputs" type="text" placeholder="Height" id="height" name="height">

                    <label for="weight">Weight:</label>
                    <input class="signInputs" type="text" placeholder="Weight in Kg" id="weight" name="weight">

                    <label for="eireCode">Eircode:</label>
                    <input class="signInputs" type="text" id="eireCode" name="eireCode">

                    <label for="address">Address:</label>
                    <input class="signInputs" type="text" id="address" name="address">

                    <input class="btn1" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
