<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link rel="stylesheet" href="./../css/style.css" />
    <script src="./../javascript/details.js" defer></script>
  </head>
  <body>
    <div class="mainDiv">
      <header class="preHeader">
        <nav class="navigation">
          <ul>
            <li>
              <div class="tooltip">
                <input
                  type="button"
                  value="Log-out"
                  class="logOut"
                  id="logOut"
                />
                <span class="tooltiptext">Log-Out from App.</span>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <h1 class="heading">
        <%= message1%>
        <a href="update"><%= message2%></a>
      </h1>
      <div class="content">
        <div class="menu">
          <nav>
            <div><button id="viewDetailsButton">View Details</button></div>
            <div>
              <button
                id="editDetailsButton"
                onclick="window.location.href = 'update'"
              >
                Edit Details
              </button>
            </div>
            <div>
              <button id="deleteDetailsButton" data-id="<%= UserDetails._id %>">
                Delete Details
              </button>
            </div>
            <div>
              <% if(attribute){%>
              <button
                id="backToPrescription"
                onclick="window.location.href='prescriptions'"
              >
                Prescriptions
              </button>
              <% }%>
            </div>
          </nav>
        </div>
        <div class="personal-Details" id="personalDetailsContainer"></div>
      </div>
    </div>
  </body>
</html>
