<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In | Sign Up</title>
    <!-- Link to our css -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Link to our Sign In js -->
    <script src="./../javascript/index.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="signUpBox">
        <h1 id="title">Sign In</h1>
        <div class="decLine"></div>
        <form action="/:sign" method="POST" id="indexForm">
          <div class="group">
            <form action="">
              <div class="field">
                <input
                  type="text"
                  name="name"
                  placeholder="Enter Name"
                  class="signInputs"
                  id="uName"
                />
              </div>
              <div class="field">
                <input
                  type="email"
                  name="email"
                  placeholder="Enter Email"
                  class="signInputs"
                  id="uMail"
                />
              </div>
              <div class="field">
                <input
                  type="password"
                  name="password"
                  placeholder="Enter Password"
                  class="signInputs"
                  id="uPass"
                />
                <div class="hiddenMessage"><%= message %></div>
              </div>
              <div class="btns">
                <input
                  type="button"
                  value="Sign In"
                  id="signInBtn"
                  class="btn1"
                />
                <input
                  type="button"
                  value="Sign Up"
                  id="signUpBtn"
                  class="btn1"
                />
              </div>
            </form>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
