<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prescriptions</title>
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Font Awesome Link -->
    <script
      src="https://kit.fontawesome.com/11d40861b7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <header class="preHeader">
        <nav class="navigation">
          <ul>
            <li>
              <input type="button" value="Log-out" class="logOut" />
              <i class="fa-solid fa-user userDetail"></i>
            </li>
          </ul>
        </nav>
      </header>
      <div class="title">
        <h1>Active Prescriptions</h1>
        <hr class="titleLine" />
      </div>
      <div class="preSummary">
        <div class="summaryDescription">
          <ul>
            <li>Doctor Name</li>
            <li>Created</li>
            <li>Details</li>
          </ul>
        </div>
      </div>
      <div class="preDetail"></div>
    </div>
    <footer></footer>
  </body>
</html>
