<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Page</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="preNav">
          <!--
          <ul class="navigation">
            <li class="topNav">Log Out</li>
            <li class="topNav">|</li>
            <li class="topNav">Change User</li>
          </ul>
        -->

          <table class="navigation">
            <tr>
              <td class="topNav" id="topNav1">Prescriptions</td>
              <td></td>
              <td class="topNav" id="topNav2">Log Out</td>
            </tr>
            <tr>
              <td class="decLine2" id="decLine1"></td>
              <td></td>
              <td class="decLine2" id="decLine2"></td>
            </tr>
          </table>
        </nav>
      </header>

      <section class="searchSection">
        <form action="" class="searchBar">
          <input type="text" placeholder="Search Records" class="searchText" />
          <input type="button" value="Search" class="searchBtn" />
        </form>
      </section>
    </div>
    <script>
      var decLine1 = document.getElementById("decLine1");
      var decLine2 = document.getElementById("decLine2");
      var topNav1 = document.getElementById("topNav1");
      var topNav2 = document.getElementById("topNav2");

      topNav1.addEventListener("mouseover", () => {
        decLine1.style.borderColor = "#00509d";
      });

      topNav1.addEventListener("mouseout", () => {
        decLine1.style.borderColor = "#ffffff";
      });

      topNav2.addEventListener("mouseover", () => {
        decLine2.style.borderColor = "#00509d";
      });

      topNav2.addEventListener("mouseout", () => {
        decLine2.style.borderColor = "#ffffff";
      });
    </script>
  </body>
</html>
