form label,
form input {
  display: block;

}

form input {
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 150vh;
  /* H need to get rid of this for details page */
  width: 100vw;
}



.container {

  background: linear-gradient(#16697a, #ffddd2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  overflow:auto; /*over flow auto fix the problem where the container element was coming out of box if the height was tooo small*/


}
.container > *{
  flex-grow: 1;
  height:100%;
  width:100%;
}
/* index styling */
.signUpBox {
  margin: 20px 0% 20px 0;
  /* details page margin adjustment  */
  width: 50%;
  max-width: 650px;
  /* H had to change it*/
  min-width: 400px;
  min-height: 250px;
  background-color: aliceblue;
  padding: 40px 60px 60px;
  text-align: center;
  border-radius: 16px;
  /* H border radius adjustment  */
  justify-content: space-around;
  color: #4e507c;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 2px 4px 0 #4a5759;
  font-size: 1.3rem;
  /* H details font adjustment */
}

.signUpBox h1 {
  font-size: 3em;
}

.decLine {
  width: 30px;
  border: 4px solid #5f848c;
  border-radius: 5px;
  display: inline-block;
}

.group {
  margin-top: 10px;
}

.signInputs {
  display: block;
  width: 100%;
  margin-left: 2%;
  border: 1px solid #86bbd8;
  padding: 20px 15px;
  margin-top: 10px;
  font-size: 1em;
  color: #4e507c;
  cursor: pointer;
  overflow: hidden;
  height:40px;
  max-height: 60px;
  transition: max-height 0.1s;
}

.signInputs:hover {
  border: 1px solid #72b01d;
  color: black;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*  */
.btn1 {
  background-color: #00509d;
  opacity: 0.8;
  color: whitesmoke;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 36%;
  /* H submit button adjustment */
  border: none;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  transition: background 1s;
}

.btn1:hover {
  opacity: 1;
}

/*search styling*/
.searchContainer {
  display: flex;
  flex-direction: column;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  text-align: center;
  font-size: 3em;
  padding-left: 0;
  padding-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}

.topNav {
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
  justify-content: center;
  border: none;
  outline: none;
  opacity: 0.3;
}

.topNav:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.decLine2 {
  width: 40px;
  border: 2px solid #ffffff;
  outline: none;
  opacity: 0.5;
  border-radius: 5px;
  display: inline-block;
}

.searchSection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBar {
  width: 100%;
  max-width: 600px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #fffffa;
}

.searchBar:hover {
  border: 5px solid #16697a;
}

.searchText {
  background: transparent;
  border: 0;
  outline: none;
  padding: 25px 50px;
  font-size: 1.2em;
  flex: 1;
  cursor: pointer;
}

.searchBtn {
  background: #82c0cc;
  border-radius: 50%;
  border: 0;
  outline: none;
  height: 45px;
  max-width: 50px;
  margin-right: 20px;
  padding: 2px 5px;
  color: #4a5759;
  flex: 1;
  cursor: pointer;
}

/* details page code */

.mainDiv {
  background: linear-gradient(#16697a, #ffddd2);
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.heading {
  text-align: center;
  margin-top: 5%;
  font-size: 3rem;
  color:#fff;
  padding:2%;
}

.mainDiv .right {
  position: absolute;
}

.btn2 {
  background-color: #00509d;
  opacity: 0.8;
  color: whitesmoke;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  margin-top: 300px;
  margin-left: 36%;
  /* H submit button adjustment */
  border: none;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  transition: background 1s;
}

.btn2:hover {
  opacity: 1;
}


/* Menue design of details page */

.menu {
  float: left;
  height: 300px;
  width: 250px;

  margin: 5% 0% 0% 5%;

  background-color: aliceblue;
  padding: 40px 60px 60px;
  text-align: center;
  border-radius: 16px;
  /* H border radius adjustment  */
  justify-content: space-around;
  color: #4e507c;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 2px 4px 0 #4a5759;
  font-size: 1.3rem;
  /* H details font adjustment */

  /* flex: 0 0 30%;   this one destroys the shape of the menue div , it still works without as aspected.*/

}

nav div button{
  width:98%;
  margin: 10% 0 0 0;
  border: 2px solid #86bbd8;
  padding: 20px 15px;
  font-size: .9rem;
  color: #4e507c;
  cursor: pointer;
  max-height: 60px;
  transition: max-height 0.1s;
  border-radius: 8px;

}
nav div button:hover{
  border: 2px solid #72b01d;
  color: black;
}

nav a{
  text-decoration: none;
  color: #4e507c;
}




/* Container for buttons and details */
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

/* Styles for the details box */
.details-box {
  background-color: aliceblue;
  padding: 20px;
  margin: 6% 0% 0% 5%;
  border-radius: 16px;
  box-shadow: 2px 4px 0 #4a5759;
  font-family: "Times New Roman", Times, serif;
  color: #4e507c;
  text-align: left;
  max-width: 60%;
  text-align: center;
  font-size: 1.3rem;
}

.details-box p {
  margin: 10px 0;

}

.personal-Details {
  flex: 1;
}


/* Go Back Button */
.goBack {

  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 150px;
  background-color: #e64b17;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.goBack a{
  text-decoration: none;
  color: #fff;
}

/* Style error message for detaiils form */
.error {
  color: red;
  margin-top: 5px;
  font-size: 0.9em;
}



@media only screen and (max-width: 700px) {
  body {
    height: 200vh;
  }
}


@media only screen and (min-width: 701px) and (max-width: 1200px) {
  body {
    height: 180vh;
  }
}


@media only screen and (min-width: 1200px) and (max-width:1800px) {
  body {
    height: 180vh;
  }
}

@media only screen and (min-width: 1800px) {
  body {
    height: 130vh;
  }
}
